@use 'viewTemplate';
.Admin {
  @extend %view-template;
  .Admin__container {
    @extend %view-container;
    .Admin__info {
      @extend %view-info;
    }
    .Admin__EventList {
      @include view-list(90%, 90%);

      .Admin__event {
        @extend %view-list-item;
        th,
        td {
          text-align: center;
          overflow: hidden;
          text-overflow: ellipsis;
        }
        .week,
        .people {
          width: 20%;
          max-width: 100%;
        }
        .topic {
          width: 60%;
          max-width: 100%;
        }
      }
    }
  }
  .Admin__buttons {
    @extend %view-buttons-container;
    button {
      @extend %view-button;
    }
  }
}
