@use 'viewTemplate';
.List {
  @extend %view-template;
  .List__success {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    div {
      color: white;
    }
  }
  h1 {
    font-size: 1.5rem;
    text-align: center;
    width: 80%;
  }
  .List__info {
    @extend %view-info;
  }
  .List__container {
    @extend %view-container;
    .List__List {
      @include view-list(80%, 80%);
      .List__member {
        @extend %view-list-item;
        h2 {
          text-align: center;
          width: 50%;
        }
        div {
          justify-content: center;
          width: 50%;
          display: flex;
          align-items: center;
        }
        label {
          width: 40%;
        }
        input {
          margin-right: 0.5rem;
          width: 1.5rem;
          height: 1.5rem;
        }
      }
    }
  }
  .List__money {
    height: 10%;

    .right {
      text-align: right;
    }
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  .List__buttons {
    @extend %view-buttons-container;
    button {
      @extend %view-button;
    }
    .submit {
      padding: 0.5rem 2rem 0.5rem 2rem;
    }
    .confirm {
      background-color: rgb(214, 130, 91);
      border: 0.2rem solid rgb(226, 177, 155);
      padding: 0.5rem 2rem 0.5rem 2rem;
    }
  }
}
.grey {
  background-color: rgb(122, 181, 248);
}
.darkgrey {
  background-color: rgb(83, 153, 233);
}
