.Login {
  width: 100%;
  height: 85vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.Login__EventThisWeek {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 75%;
  height: 40vh;
  background-color: rgb(38, 192, 212);
  border-radius: 1rem;
}
.Login__LoginWithFB {
  width: 60%;
  background-color: rgb(66, 103, 178);
  border: none;
  display: flex;
  justify-content: center;
  button {
    margin: 0;
  }
}
.Login__CheckUsOut {
  display: flex;
  flex-direction: column;
  align-items: center;
  button {
    color: white;
    background-color: rgb(66, 103, 178);
    width: 3.2rem;
    height: 3.2rem;
    border: none;
    border-radius: 100%;
  }
  p {
    padding-top: 1rem;
  }
}
