@import 'viewTemplate';

@import 'hostView';

@import 'adminView';

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}
ul[class],
ol[class] {
  list-style: none;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
.html {
  font-size: 10px;
}
%color {
  background-color: black;
}
$formColor: rgb(12, 75, 134);
$background: rgb(77, 207, 194);
a {
  text-decoration: none;
}
.App {
  background-color: $background;
  height: 100vh;
  display: flex;
  align-items: center;
}
.Landing {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.Register {
  position: absolute;
  width: 95vw;
  height: 70vh;
  background-color: yellow;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.Landing__Admin {
  position: absolute;
  bottom: 2rem;
  left: 2rem;
  cursor: pointer;
  color: rgb(240, 240, 240);
  width: 5rem;
  height: 3rem;
  background-color: $background;
  border: 0.2rem solid rgb(233, 220, 34);
  border-radius: 0.3rem;
}
.Landing__Warning {
  padding: 0 1rem 0 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  color: rgb(240, 240, 240);
  width: 80%;
  height: 50%;
  background-color: rgba(3, 3, 3, 0.9);
  text-align: center;
  font-size: 1.1rem;
}
.Landing__form {
  height: 30rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  h1 {
    color: $formColor;
  }
  div {
    display: flex;
    flex-direction: column;
  }
  label {
    color: $formColor;
    font-size: 1.1rem;
  }
  input {
    text-align: center;
    font-size: 1.3rem;
    margin-top: 0.5rem;
    width: 14rem;
    height: 3rem;
    border: 0.2rem solid $formColor;
    border-radius: 0.3rem;
  }
  .submit {
    cursor: pointer;
    color: rgb(240, 240, 240);
    width: 8rem;
    height: 3rem;
    background-color: rgb(233, 111, 40);
    border: 0.2rem solid rgb(233, 220, 34);
    border-radius: 0.3rem;
  }
}
