body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul[class],
ol[class] {
  list-style: none;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.html {
  font-size: 10px;
}

.App {
  background-color: #4dcfc2;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Landing {
  height: 100vh;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.Landing__form {
  height: 30rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Landing__form h1 {
  color: #0c4b86;
}

.Landing__form div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.Landing__form label {
  color: #0c4b86;
  font-size: 1.1rem;
}

.Landing__form input {
  text-align: center;
  font-size: 1.3rem;
  margin-top: 0.5rem;
  width: 14rem;
  height: 3rem;
  border: 0.2rem solid #0c4b86;
  border-radius: 0.3rem;
}

.Landing__form button {
  cursor: pointer;
  color: #f0f0f0;
  width: 8rem;
  height: 3rem;
  background-color: #e96f28;
  border: 0.2rem solid #e9dc22;
  border-radius: 0.3rem;
}

.List {
  margin: 0;
  height: 90vh;
  width: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.List .List__success {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.List .List__success div {
  color: white;
}

.List h1 {
  font-size: 1.5rem;
  text-align: center;
  width: 80%;
}

.List .List__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.List .List__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 70%;
  max-height: 70%;
  width: 90%;
}

.List .List__container .List__List {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 80%;
  overflow-y: scroll;
}

.List .List__container .List__List .List__member {
  padding: 1rem 0 1rem 0;
  height: 12%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.List .List__container .List__List .List__member h2 {
  text-align: center;
  width: 50%;
}

.List .List__container .List__List .List__member div {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.List .List__container .List__List .List__member label {
  width: 40%;
}

.List .List__container .List__List .List__member input {
  margin-right: 0.5rem;
  width: 1.5rem;
  height: 1.5rem;
}

.List .List__money {
  height: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.List .List__money .right {
  text-align: right;
}

.List .List__buttons {
  height: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
}

.List .List__buttons button {
  cursor: pointer;
  height: 60%;
  border-radius: 0.2rem;
  background-color: #7ab5f8;
  border: 0.2rem solid #5399e9;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.List .List__buttons .submit {
  padding: 0.5rem 2rem 0.5rem 2rem;
}

.List .List__buttons .confirm {
  background-color: #d6825b;
  border: 0.2rem solid #e2b19b;
  padding: 0.5rem 2rem 0.5rem 2rem;
}

.grey {
  background-color: #7ab5f8;
}

.darkgrey {
  background-color: #5399e9;
}
/*# sourceMappingURL=App.css.map */